<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Postit</title>
</head>
</head>
<body>
<h2> Postit </h2>


<div>
    <dl th:each="post: ${posts}">

        <p><span th:text="${post.sender}"></span> > <span th:text="${post.message}"></span></p>
    </dl>

</div>


<div style="vertical-align: middle;">
    <form action="#" th:action="@{/}" th:object="${post}" method="post" id="inputForm">
        <label for="name"> Name </label>
        <input type="text" th:field="*{sender}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('sender')}" th:errors="*{sender}"></span>
        <br>
        <label for="message"> Message </label>
        <textarea rows="3" th:field="*{message}" id="message" placeholder="Message"></textarea>
        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
        <br>
        <input type="submit" value="Send">

    </form>
</div>

</body>
</html>